fastapi==0.135.2
uvicorn[standard]
jinja2
python-dotenv

sqlalchemy
psycopg2-binary

email-validator
python-multipart

passlib[bcrypt]
python-jose[cryptography]

langchain
langgraph
langchain-groq

groq

httpx
requests
GitPython

pydantic==2.12.5